*{  box-sizing: border-box;
    margin: 0;
    padding: 0;  }

   :root{ --button-color: #FF900E;}

    body{ font-family: work sans;background-color: #FFFFFF; }
    .banner{
        background-color: #FFF4E7;
        
    }

    nav{ display: flex;
        justify-content: space-between;
        justify-items: center;
        width: 100%;
        max-width: 1920px;
        padding: 40px 200px;
    }
    nav>ul{ display: flex;
            list-style: none;
            gap: 20px;
         }
    .content{
        margin: 0;
        text-align: center;
        width: 100%;
        
    }
    .content h1{
        font-weight: 700;
        font-size: 4em;

    }
    .content p{
        font-weight: 400;
        font-size: 16px;
        margin: 10px;

    }
    .content img{
        margin-top: 30px;
    }
    .btn1, .btn2{
        background-color:var(--button-color);
        border: none;
        font-weight: 600;
        font-size: 20px;
        height: 64px;
        width: 185px;
        border-radius: 10px;
        color: aliceblue;
    }
    .btn1{ margin: 10px;}
    .btn2{ margin-top: 10px;}

    

    .image-gallery{
        display: grid;
        grid-template-columns: 22em 22em;
        grid-template-rows:22em 22em ;
        gap:5px;
          
    }
    .second-part{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px;  
    }
    .second-part ul li{
        padding-top: 20px;
    }
    
    
    .second-part-column2{
        padding: 50px;
        
    }
/* Features Section */


    .description{
        display: flex;
        padding: 30px 20px;
        margin: 0 50px;
     
    }
    .first-column-description{
        width: 100%;
        
     
        
    }
    .first-column-description h1, h4, p{ 
        position: relative;
        text-align:start;
        }
    .first-column-description h4,p{ 
        padding: 5px;
        
        }

    
       
    .first-column-description h1{
        
        border-left: 3px solid var(--button-color);
        padding-left: 20px;
    }  

        
    
    .first-column-description h1, h4, #text{ 
        padding-left: 10px;
        
        
    }

    .btn3{
        background-color:var(--button-color);
        
        margin-bottom: 40px;
        margin-right:0px ;
        border-radius: 10px;
        border-style: none;


    }

    /* Achievement part */

    .title{
       
        margin-top: 50px;
        text-align: start;

    }
    .title h1{
        font-size: 3em;
        font-weight: 700;
        margin-left: 70px;
        
    }
    .title p{
        text-align: start;
        margin-left: 65px;
    }

    .icon{
        display: flex;
        justify-content: space-around;
        justify-items: center;
        margin: 40px;
       
    }

    .icon div{
        height: 14em;
        width: 14em;
        border: 2px solid var(--button-color);
        text-align: center;
        align-items: center;
        
    }
    .icon div>h4{
        text-align: center;
        font-size: 3em;
        font-weight: 600;
    }
        .icon div>p{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
        }


        /* Sponsors-Part */

        #Sponsor{
            margin: 75px 0;
        }

        #title-5{
            text-align: center;
            font-size: 2em;
            font-weight: 700;
        }

        #text-5{
            text-align: center;
        }


        .sponsor-container{
            display: flex;
            justify-content: space-around;
        }

/* Extra Section */
        .appointment{
            background-color: bisque;
            height: 200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:center;
            padding: 50px 50px;
            margin-top: 20px;

        }
        .form{
           
            margin: 5px;  
            
        }

        input[type=text]{ 
            margin-bottom: 5px;
            width: 100%;
            max-width: 350px;
            height: 30px;
            border-radius: 5px;
        }
        input[type=email]{ 
            margin-bottom: 5px;
            width: 100%;
            max-width: 350px;
            height: 30px;
            border-radius: 5px;
         }
        input[type=number]{ 
            margin-bottom: 5px;
            width: 100%;
            max-width: 350px;
            height: 30px;
            border-radius: 5px;
        }
        input[type=text]{ 
            margin-bottom: 5px;
            width: 100%;
            max-width: 350px;
            height: 30px;
            border-radius:5px;
        }

        input[type=button]{
            background-color: var(--button-color);
            height: 25px;
            width: 100%;
            border-radius: 5px;

        }
      /* footer */

      footer{
        height:100px;
        width: 100%;
        max-width: 1440px;
        background-color: bisque;
        border-top: 1px solid black;
      }

      footer p{
        text-align: center;
        margin-top: 20px;
      }



    /* It is all about responsive breakpoints */
    /* Small Device Screen */
    @media screen and (max-width:576px){ 
    
        nav{ display: flex;
            justify-content:center;
            width: 100%;
            max-width:576px;
            margin: 0;
            
        }
        .content{
            margin:0;
            text-align: center;
            align-items: center;
            width: 100%;
            max-width: 576px;
            
        }
        
        
        .image-gallery{
        display: grid;
        max-width: 576px;
        grid-template-columns: 22em;
        padding-left: 20px;
        gap:5px;}
    
        .second-part{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 25px;  
        }
        .description{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }

        
    .icon{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 10px;  
    }
    .sponsor-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 30px;
    }
   
    
    }


    /* Mid screen Device */

    @media screen and (min-width:577px)and (max-width:768px){ 
       

        nav{ display: flex;
            justify-content:center;
            width: 100%;
            min-width:577px;
            max-width:768px;
            margin: 0;
            
        }
        .content{
            margin:0;
            text-align: center;
            align-items: center;
            width: 100%;
            min-width:577px;
            max-width:768px;
            
        }
        
        .image-gallery{
            display: grid;
            max-width: 768px;
            grid-template-columns: 22em;
            padding-left: 20px;
            gap:5px;}
        
    
        .second-part{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 25px;  
        }
        .description{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width:577px;
            max-width:768px;
        
        }

        
    .icon{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 10px;  
    }
    .sponsor-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 30px;
    }
    
    }

    /* large screen device */

    @media screen and (min-width:769px)and (max-width:992px){ 
       

        nav{ display: flex;
            justify-content:center;
            width: 100%;
            min-width:769px;
            max-width:992px;
            margin: 0;
            
        }
        .content{
            margin:0;
            text-align: center;
            align-items: center;
            width: 100%;
            min-width:769px;
            max-width:992px;
            
        }
        
        .image-gallery{
            display: grid;
            max-width: 768px;
            grid-template-columns: 22em 22em;
            padding-left: 20px;
            gap:5px;}
        
    
        .second-part{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 25px;  
        }
        .description{
            
            justify-content: center;
            align-items: center;
            min-width:769px;
            max-width:992px;
        
        }

        
    .icon{
        display: flex;
        
        justify-content:center;
        align-items: center;
        gap: 10px;  
    }
    .sponsor-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 30px;
    }
    
    }
 
      




      